html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #2c2c2c;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  color: #2c2c2c;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

/*! ======= Header =======*/

.header {
  padding: 10px 0;
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  position: relative;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: none;
}
.mobile-nav {
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  width: 170px;
  height: 311px;
  padding: 16px;
  border-radius: 30px 0px 30px 30px;
  background-color: #bbf330;
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
}
.mobile-nav.is-open {
  transform: translateX(0);
}
.mobile-close-btn {
  position: absolute;
  top: 7px;
  right: 9px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}
.mobile-nav--list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.header-btn {
  display: none;
}
.burger-btn {
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
  .logo {
    margin-right: auto;
  }
  .nav {
    margin-right: 30px;
    display: block;
  }
  .nav-list {
    display: flex;
    gap: 28px;
  }
  .nav-link {
    font-size: 14px;
    padding: 28px 0;
    display: block;
    text-decoration: underline 1px solid transparent;
    text-underline-offset: 2px;
    transition:
      color 0.2s ease-in,
      text-decoration-color 0.2s ease-in;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #bbf330;
    text-decoration: underline 1px solid #bbf330;
  }
  .header-btn {
    display: block;
    width: 98px;
    height: 32px;
    padding: 6px 18px;
    background-color: #bbf330;
  }
  .header-btn:hover {
    background-color: #ffe450;
  }
  .burger-btn {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}

/*! ======= Hero =======*/

.hero {
  padding: 60px 0;
  margin-bottom: 30px;
}
.hero-title {
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
  width: 280px;
}
.hero-text {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 32px;
  width: 266px;
}
.hero-btn {
  min-width: 98px;
  height: 32px;
  padding: 6px 18px;
  background-color: #bbf330;
}
.hero-img--wrapper {
  display: none;
}

@media only screen and (min-width: 414px) {
  .hero-text {
    width: 336px;
  }
}

@media only screen and (min-width: 600px) {
  .hero-inner {
    display: flex;
    justify-content: space-between;
  }
  .hero-img--wrapper {
    display: block;
    width: 205px;
    height: 205px;
    border: 14px solid #ffe550;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
  .hero {
    padding: 60px 0 0 0;
    margin-bottom: 42px;
  }
  .hero-title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 44px;
    width: 520px;
  }
  .hero-content--wrapper {
    width: 336px;
  }
  .hero-img--wrapper {
    display: block;
    width: 320px;
    height: 320px;
    border: 14px solid #ffe550;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 89px;
  }
  .hero-btn:hover {
    background-color: #ffe450;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    padding: 0 16px;
  }
  .hero {
    padding: 14px 0;
    margin-bottom: 55px;
  }
  .hero-inner {
    align-items: center;
  }
  .hero-content--wrapper {
    width: 511px;
  }
  .hero-title {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 28px;
  }
  .hero-text {
    line-height: 1.5;
    margin-bottom: 40px;
  }
  .hero-btn {
    background-color: #bbf330;
    transition: background-color 0.2s ease-in;
  }
  .hero-btn:hover {
    background-color: #ffe450;
  }
  .hero-img--wrapper {
    width: 580px;
    height: auto;
    border: 31px solid #ffe550;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*! ======= About =======*/

.about {
  margin-bottom: 132px;
}
.about-inner {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.about-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 28px;
}
.about-text {
  line-height: 1.5;
  margin-bottom: 33px;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 28px;
}
.about-item--svg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fefefe;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-svg {
  fill: #7eb101;
  width: 32px;
  height: 32px;
}
.about-item--title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
.about-item-text {
  line-height: 20px;
}
.about-order {
  display: flex;
  align-items: center;
  gap: 24px;
}
.about-btn {
  min-width: 106px;
  height: 42px;
  padding: 10px 22px;
  border: 2px solid #7eb101;
  background-color: #fff;
}
.about-link {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  padding: 7px 0;
  display: flex;
  align-items: center;
  width: 85px;
}

@media only screen and (min-width: 768px) {
  .about {
    margin-bottom: 188px;
  }
  .about-title {
    font-size: 42px;
    margin-bottom: 20px;
    width: 500px;
  }
  .about-text {
    width: 500px;
    margin-bottom: 25px;
  }
  .about-item-text {
    width: 288px;
  }
}

@media only screen and (min-width: 1280px) {
  .about {
    padding: 165px 0 124px 0;
    background-color: #ffe550;
    margin-bottom: 120px;
  }
  .about-inner {
    flex-direction: row;
    gap: 90px;
  }
  .about-decor {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .about-decor::before {
    content: "";
    position: absolute;
    width: 502px;
    height: 502px;
    border-radius: 502px;
    background-color: #fefefe;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about-picture {
    z-index: 1;
  }
  .about-decor--img {
    margin-bottom: 102px;
  }
  .about-text {
    margin-bottom: 40px;
  }
  .about-list {
    flex-direction: row;
    gap: 67px;
    margin-bottom: 32px;
  }
  .about-item-text {
    width: 253px;
  }
  .about-btn {
    transition: border 0.2s ease-in;
  }
  .about-btn:hover {
    border: 2px solid #ffe450;
  }
  .about-link {
    transition: color 0.2s ease-in;
  }
  .about-link:hover {
    color: #7eb101;
  }
  .about-link svg {
    fill: #000;
    transition: fill 0.2s ease-in;
  }
  .about-link:hover svg {
    fill: #7eb101;
  }
}

/*! ======= Products =======*/

.products {
  margin-bottom: 120px;
}
.products-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  width: 280px;
  margin: 0 auto 20px auto;
}
.products-text {
  text-align: center;
  margin-bottom: 60px;
}
.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.products-item {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 11px solid #ffe550;
  background: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.products-item--link {
  position: absolute;
  top: -11px;
  left: -11px;
  bottom: -11px;
  right: -11px;
  border-radius: 50%;
}
.products-item--img {
  max-width: 224px;
}

@media only screen and (min-width: 768px) {
  .products-title {
    font-size: 42px;
    width: 100%;
  }
  .products-list {
    gap: 32px;
  }
  .products-item {
    width: 336px;
    height: 338px;
    border: 14px solid #ffe550;
  }
  .products-item--link {
    top: -14px;
    left: -14px;
    right: -14px;
    bottom: -14px;
  }
  .products-item--img {
    max-width: 268px;
  }
}

@media only screen and (min-width: 1280px) {
  .products-text {
    margin-bottom: 40px;
  }
  .products-item {
    width: 395px;
    height: 395px;
    border: 16px solid #ffe550;
  }
  .products-item--link {
    top: -16px;
    left: -16px;
    right: -16px;
    bottom: -16px;
    border: 16px solid #ffe550;
    transition: border-color 0.2s ease-in;
  }
  .products-item--link:hover {
    border: 16px solid #bbf330;
  }
  .products-item--img {
    max-width: 315px;
  }
}

/*! ======= Coments =======*/

.coments {
  margin-bottom: 17px;
}
.coments-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.coments-text {
  margin-bottom: 32px;
}
.coments-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.coments-item {
  padding: 8px;
}
.rating-list {
  display: flex;
  gap: 4px;
  margin-bottom: 28px;
}
.rating-item {
}
.coments-item--text {
  font-weight: 700;
  margin-bottom: 40px;
}
.coments-item--author {
  padding: 2px 0;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 160px;
  border-right: 1px solid #7eb101;
}
.coments-item--author-img {
}
.coments-item--author-name {
}
.coments-item--author-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2px;
}
.coments-item--author-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .coments {
    margin-bottom: 46px;
  }
  .coments-title {
    font-size: 42px;
  }
  .coments-list {
    flex-direction: row;
    gap: 32px;
  }
  .coments-item {
    padding: 12px;
  }
}

@media only screen and (min-width: 1280px) {
  .coments {
    background-color: #ffe550;
    padding: 140px 32px 126px 32px;
    margin-bottom: 176px;
  }
  .coments-list {
    gap: 139px;
  }
  .coments-item {
    padding: 14px;
    background-color: #fefefe;
    border-radius: 0 30px 30px 30px;
  }
}

/*! ======= Subscribe =======*/

.subscribe {
  margin-bottom: 60px;
}
.subscribe-inner {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.subscribe-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.subscribe-text {
  margin-bottom: 40px;
}
.subscribe-form {
}
.subscribe-form--input {
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #ffe550;
  background-color: #fff;
  max-width: 395px;
  min-width: 280px;
  margin-bottom: 20px;
}
.subscribe-form--input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5%;
}
.subscribe-form--btn {
  min-width: 103px;
  height: 42px;
  padding: 11px 22px;
  background: #bbf330;
  margin: 0 0 0 auto;
  display: block;
}
.subscribe-img {
  order: -1;
  align-self: center;
}

@media only screen and (min-width: 450px) {
  .subscribe-form--input {
    margin-bottom: 0px;
    margin-right: 22px;
  }
  .subscribe-form--btn {
    margin: 0;
    display: initial;
  }
}

@media only screen and (min-width: 768px) {
  .subscribe {
    margin-bottom: 100px;
  }
  .subscribe-inner {
    gap: 20px;
  }
  .subscribe-title {
    font-size: 42px;
  }
  .subscribe-text {
    margin-bottom: 24px;
  }
  .subscribe-img {
    align-self: flex-end;
  }
}

@media only screen and (min-width: 1280px) {
  .subscribe {
    margin-bottom: 200px;
  }
  .subscribe-inner {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .subscribe-form--btn {
    transition: background-color 0.2s ease-in;
  }
  .subscribe-form--btn:hover {
    background-color: #ffe450;
  }
}

/*! ======= Footer =======*/

.footer {
  padding: 60px 0;
  background-image: url("../images/footer/footer-mobile-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.footer-inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 60px;
}
.footer-menu {
  display: flex;
  gap: 46px;
}
.footer-nav--list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-form--title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 12px;
}
.footer-form--input {
  max-width: 280px;
  min-width: 280px;
  height: 42px;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #ffe550;
  background: #fff;
  margin-bottom: 20px;
  margin-right: 13px;
}
.footer-form--input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  color: #505050;
}
.footer-form-text {
  font-size: 12px;
}
.footer-form-text span a {
  color: #7eb101;
  text-decoration: underline 1px solid #7eb101;
}
.footer-form--btn {
  min-width: 103px;
  height: 42px;
  padding: 11px 22px;
  color: #2c2c2c;
  border: 1px solid #7eb101;
  background-color: #fff;
  margin-bottom: 12px;
}
.rules-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.rules-link {
  font-size: 12px;
  color: #7eb101;
  text-decoration: underline 1px solid #7eb101;
  text-underline-offset: 2px;
}
.copyrite {
  font-size: 10px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .footer {
    padding: 60px 0;
    background-image: url("../images/footer/footer-tablet-bg.png");
  }
  .footer-inner {
    margin-bottom: 100px;
  }
  .footer-menu {
    gap: 114px;
    align-items: center;
  }
  .footer-nav--list {
    flex-direction: row;
    gap: 28px;
  }
  .footer-form--input {
    margin-bottom: 0px;
  }
  .footer-line-bottom {
    display: flex;
    justify-content: space-between;
  }
  .rules-list {
    gap: 20px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    background-image: url("../images/footer/footer-desctop-bg.png");
  }
  .footer-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
  }
  .footer-form--btn {
    transition: border 0.2s ease-in;
  }
  .footer-form--btn:hover {
    border: 1px solid #ffe450;
  }
  .footer-nav--link {
    text-decoration: underline 1px solid transparent;
    text-underline-offset: 2px;
    transition:
      color 0.2s ease-in,
      text-decoration-color 0.2s ease-in;
  }
  .footer-nav--link:hover {
    color: #bbf330;
    text-decoration: underline 1px solid #bbf330;
  }
  .footer-form-text span a {
    transition:
      color 0.2s ease-in,
      text-decoration-color 0.2s ease-in;
  }
  .footer-form-text span a:hover {
    color: #ffe450;
    text-decoration: underline 1px solid #ffe450;
  }
  .rules-link {
    transition:
      color 0.2s ease-in,
      text-decoration-color 0.2s ease-in;
  }
  .rules-link:hover {
    color: #ffe450;
    text-decoration: underline 1px solid #ffe450;
  }
}

/*! ======= Backdrop =======*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(94, 99, 99, 0.7);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.backdrop.is-open {
  visibility: visible;
  opacity: 1;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 320px;
  height: 449px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background: #ffe550;
  padding: 32px 20px;
}
.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in;
}
.modal-close-btn:hover {
  background-color: #bbf330;
}
.modal-close-btn-img {
  display: block;
}
.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #2c2c2c;
  text-align: center;
  margin-bottom: 20px;
}
.modal-field {
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 24px;
}
.modal-label {
  margin-bottom: 2px;
  padding-left: 12px;
}
.modal-input {
  border: 1px solid rgba(18, 18, 18, 0.12);
  border-radius: 30px;
  height: 48px;
  width: 100%;
  padding: 14px 12px;
}
.modal-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #c4c4c4;
}
.send-btn {
  border: 2px solid #7eb101;
  min-width: 106px;
  height: 40px;
  padding: 10px 38px;
  margin: 32px auto 0 auto;
  display: block;
  background-color: #fff;
}
.send-btn:hover {
  background-color: #bbf330;
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 458px;
    padding: 32px;
  }
}
